/*
  input boxes
  buttons
*/
body{
	background-color: #D3D3D3;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
header{
	width: 100%;
	background-color: white;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
form{
	margin: 5px 0;

}
select {
	width: 200px;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}
button {
	cursor: pointer;
	outline:0;
}
h1{
	font-size: 40px;
	margin-right: 10px;
}
h2{
	
}
h3{
	height: 22px;
}
/*Header*/
.home-btn{
	height: 40px;
	width: 100px;
	background-color: white;
	border:2px solid #934AE8;
	
}
.home-btn:hover{
	background-color: #5F5496; /*#65339E;*/
}
.create-sauce{
	height: 40px;
	width: 100px;
	background-color: white;
	border:2px solid #D9D15F;
}
.create-sauce:hover{
	background-color: #85803A;
}
#choose-sauce{
	display: flex;
	justify-content: flex-start;
}
.select-sauce{
	height: 40px;
	background-color: white;
	outline:0;
	border:2px solid #D3D3D3; 
}
#select-sauce{
	height: 40px;
	width: 100px;
	background-color: white;
	border:2px solid #4DBCC9; 
}
#select-sauce:hover{
	background-color: #30777A;
}


/******************** Home Page *******************************/
#home-page{
	width: 632px;
	display:flex;
	flex-direction: row;
	background-color: white;
    border: 1px solid black;
    padding: 10px;
}
.sauce-list-element:hover{
	color: red;
	cursor: pointer;
}

/*********************** Display ********************************/
#display-sauce{
	width: 80%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	background-color: white;
    padding: 0 15px 15px;
    border-radius: 4px;
    border: 1px solid black;
}
.title{
	width: 80%;
    margin-top: 20px;
    margin-bottom: 0px;
}
.description-wrapper{
	display:flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid black;
    border-radius: 4px;

}
.display-description{
	width: 50%;
	background-color: #E67272; /*#FF8F8C;*/
	padding: 15px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sauce-description{
	border-top: 2px dashed black;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 15px;

}
.description-box{
	width:100%;
	display: flex;
	flex-wrap: wrap;
}
.use-box{
	padding-top: 5px;
}
.spicy-box{
	padding-top: 2px;
}
.time-box{
	padding-top: 2px;
}

.display-ingredients{
	width: 50%;
	background-color: #B0E5A9;
	padding: 15px;
	border: 1px solid black;
}
.sauce-ingredients{
	width:100%;
	/*
	text-indent: 50px;
	*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

}
.ingredient-box{
	text-indent: 0;
	height:20px;

}
.display-directions{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.sauce-directions{
	width: 100%;
	margin: 0;
	display:flex;
	flex-direction: column;

}
.delete-sauce{
	text-indent: -50px;
	display: flex;
	justify-content: flex-end;
}
.edit-btn{
	height:20px;
	/*background-color: yellow;*/
}
.edit-btn:hover{
	background-color: grey;
}
.delete-btn{
	height: 20px;
	/*background-color: red;*/
}
.delete-btn:hover{
	background-color: grey;
}


/*********************************** form *********************************/

#create-sauce{
	display: flex;
	flex-direction: column;
	background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid black;
    width:70%;
    max-width: 600px;
}
.directions-wrapper{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.add-btn{
	color: #00DB22;
	border: none;
	background-color: inherit;
	font-size: 20px;
	outline: 2px;
}
.add-btn:hover{
	color: #006022;
}
.add-btn:focus{
	color: #006022;
}

.remove-btn{
	color: #E33229;
	border: none;
	background-color: inherit;
	font-size: 20px;
	outline: 2px;
}
.remove-btn:hover{
	color: #843229;
}
.remove-btn:focus{
	color: #843229;
}

input[type=text] {
	
}
textarea {
   resize: none;
}
.submit-button-holder{
	display: flex;
	justify-content: flex-end;
}

#submit-sauce{
	height: 20px;
	background-color: white;
	color: black;
	margin:20px;
	border:2px solid #7C0791;
}
#submit-sauce:hover{
	background-color: #7C0791
}





















