/*
  input boxes
  buttons
*/
body{
	background-color: #C0E7FF;
	display: flex;
	align-items: center;
	flex-direction: column;
}
header{
	width: 1064px;
	display: flex;
	justify-content: space-around;
	
}
form{
	margin: 5px 0;

}
select {
  width: 200px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
h3{
	height: 22px;
}
/*header Buttons*/
#select-sauce{
	height: 20px;
	background-color: #4DBCC9;
}
#load-sauce:hover{
	color: #30777A;
}
.create-sauce{
	height: 20 px;
	background-color: #D9D15F;
}
.create-sauce:hover{
	color: #85803A;
}
/*display*/
#displaySauce{
	display: flex;
	flex-direction: column;

}
.name-wrapper{

}
.description-wrapper{
	display:flex;
	flex-direction: row;

}
.display-description{
	width: 500px;
	background-color: #9E4544;
	padding: 15px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sauceDescription{
	border-top: 2px dashed black;
	width: 470px;
	text-indent: 50px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 15px;

}
.descriptionBox{
	width:470px;
	display: flex;
	flex-wrap: wrap;
}

.display-ingredients{
	width: 500px;
	background-color: #B0E5A9;
	padding: 15px;
	border: 1px solid black;
}
.sauceIngredients{
	width:470px;
	/*
	text-indent: 50px;
	*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

}
.directions-wrapper{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;

}
.sauceDirections{
	text-indent: 50px;
	display:flex;
	flex-direction: column;

}


/*form*/

.add-btn{
	
	color: #00DB22;
	border: none;
	background-color: inherit;
	font-size: 20px;
	/*
	background-color: green;
	border-radius: 100%;
	color: white;
	border: 2px solid black;
	font-size: 20px;
	height: 30px;
	width: 30px;
	*/
}
.add-btn:hover{
	color: #006022;
}

.remove-btn{
	/*
	all: unset;
	*/
	color: #E33229;
	border: none;
	background-color: inherit;
	font-size: 20px;

	/*
	background-color: red;
	border-radius: 100%;
	color: white;
	border: 2px solid black;
	font-size: 14px;
	height: 30px;
	width: 30px;
*/
}
.remove-btn:hover{
	color: #843229;
}

input[type=text] {

}

#createButton{
	height: 20px;
	background-color: #7C0791;
	color: white;
}






















